<style type="text/css">
<!--
.Estilo1 {font-size: small}
-->
</style>


<h3 class="center">Cuestionario Finalizado</h3>	
<p class="center"><strong>CUESTIONARIO DE VULNERABILIDAD Y PROTECCI&Oacute;N</strong></p>
<p class="center">&nbsp;</p>
<p class="center Estilo1">Tiempo:{cuestionario.tiempo}</p>
<p class="center">	<br>
  <strong>ESTA GR&Aacute;FICA MUESTRA LAS &Aacute;REAS DE MAYOR PROTECCI&Oacute;N (Marcadas con 0)  <br />
  Y VULNERABILIDAD (Marcadas con 1)                                                                 DE ACUERDO A TUS RESPUESTAS </strong><br />
</p>
<p class="center">&nbsp;</p>
<p>{resultado.tabla} <br />
</p>
<p class="center"><strong>A CONTINUACI&Oacute;N SE DESCRIBE BREVEMENTE CADA UNA DE LAS &Aacute;REAS:</strong></p>
<p>
<table class="tablaAreasVuln" >

  <tr >
 <td ><strong>1.Relaci&oacute;n con Padre: </strong>Demostraci&oacute;n de afecto, comunicaci&oacute;n y l&iacute;mites del padre.</td>
 <td><strong>13.Amigos:</strong> Actividades en su tiempo libre con los amigos.</td>
  </tr>
  <tr >
 <td ><strong>2.Relaci&oacute;n Padre afecto-comunici&oacute;n: </strong>Demostraci&oacute;n de afecto y forma de comunicaci&oacute;n del padre.</td>
 <td><strong>14.Tiempo libre:</strong> La forma en que se emplea el tiempo libre.</td>
  </tr>
  <tr >
 <td ><strong>3.Relaci&oacute;n Padre control: </strong>Formas de ejercer&nbsp; l&iacute;mites por parte del padre.</td>
 <td><strong>15.Actividades Culturales: </strong>Asistencia a actividades culturales, art&iacute;sticas y religiosas en el tiempo libre.</td>
  </tr>
  <tr >
 <td ><strong>4.Relaci&oacute;n con Madre: </strong>Demostraci&oacute;n de afecto, comunicaci&oacute;n y l&iacute;mites de la madre.</td>
 <td><strong>16.Actividades Descanso-Recreativas:</strong> Actividades recreativas y descanso en el tiempo libre.</td>
  </tr>
  <tr >
 <td ><strong>5.Relaci&oacute;n Madre afecto-comunici&oacute;n:</strong> Demostraci&oacute;n de afecto y forma de comunicaci&oacute;n de la madre.</td>
 <td><strong>17.Ayuda en casa:</strong> Apoyo de tareas en casa.</td>
  </tr>
  <tr >
 <td ><strong>6.Relaci&oacute;n con Madre control</strong>: Formas de ejercer l&iacute;mites por parte de la madre.</td>
 <td><strong>18.Motivos: </strong>Conductas de probable consumo de drogas.</td>
  </tr>
  <tr>
 <td><strong>7.Edo. Emocional: </strong>Autopercepci&oacute;n de&nbsp; emociones y sentimientos.</td>
 <td><strong>19.Alimentaci&oacute;n:</strong> Conductas alimentarias de riesgo.</td>
  </tr>
  <tr >
 <td ><strong>8.Autoestima: </strong>Val&iacute;a y autoaceptaci&oacute;n f&iacute;sica, mental y emocional.</td>
 <td><strong>20.Percepci&oacute;n de satisfacci&oacute;n:</strong> Satisfacci&oacute;n percibida hacia la relaci&oacute;n con los padres, satisfacci&oacute;n acad&eacute;mica y de s&iacute; mismo.</td>
  </tr>
  <tr >
 <td ><strong>9.Pensamiento: </strong>Pensamientos sobre la muerte en la &uacute;ltima semana.</td>
 <td><strong>21.Tabaco: </strong>Conductas de posible dependencia.</td>
  </tr>
  <tr >
 <td ><strong>10.Asertividad: </strong>Habilidad para expresar sus ideas, pensamientos, necesidades, emociones y deseos en forma segura y plena.</td>
 <td><strong>22.Alcohol: </strong>Conductas de posible riesgo o peligro.</td>
  </tr>
  <tr >
 <td ><strong>11.Reglas en casa: </strong>Percepci&oacute;n de los lineamientos, reglas o c&oacute;digos en casa.</td>
 <td><strong>23.Sustancia M&eacute;dica:</strong> Consumo actual de alguna sustancia m&eacute;dica.</td>
  </tr>
  <tr >
 <td ><strong>12.Reglas en escuela: </strong>Aceptaci&oacute;n y comportamiento ante lineamientos, reglas o c&oacute;digos en casa y escuela.</td>
 <td><strong>24.Drogas Ilegales:</strong>Consumo actual de alguna droga ilegal.</td>
  </tr>
</table></p>
<p class="center"><strong> {resultado.retroalimentacion}</strong></p>
<p  class="center">&nbsp;</p>
<p  class="center"><strong>&iexcl;&iexcl;&iexcl;GRACIAS POR TU COLABORACI&Oacute;N!!!</strong></p>
<p  class="center">&nbsp;</p>
<p  class="center"><a href="http://dte.ccm.itesm.mx/vulnerabilidad/?vulnerabilidad"><strong>Terminar</strong></a></p>

<p></p>
<p></p>

<p class="center">&nbsp;</p>
<p class="center"> {resultado.fin} </p>
</div>	



