
form.basica {
	text-align: left;
	margin: 0 auto;
  padding: 0;
  font-size: 100%;
  min-width: 560px;
  max-width: 620px;
 width: 700px;
}

form.basica fieldset {
text-align: left;
  clear: both;
  font-size: 1em;
  border-color: #000000;
  border-width: 1px 0 0 0;
  border-style: solid none none none;
  padding: 10px;
  margin: 0 0 0 0;
}

form.basica fieldset legend {
  font-size: 1.2em;
  font-weight: normal;
  color: #000000;
  margin: 0 0 0 0;
  padding: 0 5px;
}

label {
  font-size: 12px;
}

label u {
  font-style: normal;
  text-decoration: underline;
}

form.basica input, select, textarea {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 0.8em;
  color: #000000;
}

form.basica select.small {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 0.8em;
  color: #000000;
  width: 65px;
}
form.basica input.date {
   width: 100px;
}

form.basica textarea {
  overflow: auto;
}

form.basica div {
  clear: left;
  display: block;
  width: 354px;
  height: expression('1%');
  margin: 5px 0 0 0;
  padding: 1px 3px;
}

form.basica fieldset div.notes {
  float: right;
  width: 158px;
  height: auto;
  margin: 0 0 10px 10px;
  padding: 5px;
  border: 1px solid #666666;
  background-color: #ffffe1;
  color: #666666;
  font-size: 0.8em;
}

form.basica fieldset div.notes h4 {
  background-image: url(../imagenes/iconos/icon_info.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 3px 0 3px 27px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #666666;
  color: #666666;
  font-size: 1.00em;
}

form.basica fieldset div.notes p {
  margin: 0em 0em 1.2em 0em;
  color: #666666;
}

form.basica fieldset div.notes p.last {
  margin: 0em;
}

form.basica div fieldset {
  clear: none;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  margin: 0 0 0 144px;
  padding: 0 5px 5px 5px;
  width: 197px;
}

form.basica div fieldset legend {
  font-size: 100%;
  padding: 0 3px 0 9px;
}

form.basica div.required fieldset legend {
  font-weight: bold;
}

form.basica div label {
  display: block;
  float: left;
  width: 130px;
  padding: 3px 5px;
  margin: 0 0 5px 0;
  text-align: right;
}

form.basica div.optional label, label.optional {
  font-weight: normal;
}

form.basica div.required label, label.required {
  font-weight: bold;
}

form.basica div label.labelCheckbox, form.basica div label.labelRadio {
  float: none;
  display: block;
  width: 200px;
  height: expression('1%');
  padding: 0;
  margin: 0 0 5px 142px;
  text-align: left;
}

form.basica div fieldset label.labelCheckbox, form.basica div fieldset label.labelRadio {
  margin: 0 0 5px 0;
  width: 170px;
}

form.basica div img {
  border: 1px solid #000000;
}
form.basica div label img {
  border: 0px solid #000000;
}
form.basica p.error {
  background-color: #ff0000;
  background-image: url(/images/icon_error.gif);
  background-repeat: no-repeat;
  background-position: 3px 3px;
  color: #ffffff;
  padding: 3px 3px 5px 27px;
  border: 1px solid #000000;
  margin: auto 100px;
}

form.basica div.error {
  background-color: #ffffe1;
  background-image: url(/images/required_bg.gif);
  background-repeat: no-repeat;
  background-position: top left;
  color: #666666;
  border: 1px solid #ff0000;
}

form.basica div.error p.error {
  background-image: url(/images/icon_error.gif);
  background-position: top left;
  background-color: transparent;
  border-style: none;
  font-size: 88%;
  font-weight: bold;
  margin: 0 0 0 118px;
  width: 200px;
  color: #ff0000;
}

form.basica div input, form.basica div select, form.basica div textarea {
  width: 200px;
  padding: 1px 3px;
  margin: 0 0 0 0;
}

form.basica div input.inputFile {
  width: 211px;
}

form.basica div select.selectOne, form.basica div select.selectMultiple {
  width: 211px;
  padding: 1px 3px;
}

form.basica div input.inputCheckbox, form.basica div input.inputRadio, input.inputCheckbox, input.inputRadio {
  display: inline;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border-width: 0;
  padding: 0;
  margin: 0 0 0 140px;
}

form.basica div.submit {
  width: 100%;
     text-align: center;

  
}

form.basica div.submit div {

  
}

form.basica div input.inputSubmit, form.basica div input.inputButton, input.inputSubmit, input.inputButton {
  background-color: #cccccc;
  color: #000000;
  width: auto;
  padding: 0 6px;
  margin: 0;
}

form.basica div.submit div input.inputSubmit, form.basica div.submit div input.inputButton {
  
  margin: 0 0 0 5px;
}

form.basica div small {
  display: block;
  margin: 0 0 5px 142px;
  padding: 1px 3px;
  font-size: 0.8em;
  height: expression('1%');
}
form.basica div .texto {
  display: block;
  margin: 0 0 5px 142px;
  padding: 1px 3px;
  font-size: 0.8em;
  height: expression('1%');
}
/* form.basica.import.css */

form.basica label img {
  behavior: url(/behaviors/label_img.htc);
}

form.basica fieldset legend {
  line-height: 150%;
}

form.basica input, form.basica select, form.basica textarea {
  background-color: #ffffff;
}

form.basica textarea.expanding {
  overflow: auto;
  overflow-x: auto;
  overflow-y: visible;
}

form.basica div.optional label:before {
  content: '';
}

form.basica div.required label:before {
  content: '';
}
  
form.basica div label.labelCheckbox, form.basica div label.labelRadio, label.labelCheckbox, label.labelRadio {
  display: block;
  width: 190px;
  height: expression('1%');
  padding: 4px 0px 0px 18px;
  text-indent: -18px;
  line-height: 120%;
}

form.basica div label.labelCheckbox input.inputCheckbox, form.basica div label.labelRadio input.inputRadio, label.labelCheckbox input.inputCheckbox, label.labelRadio input.inputRadio {
  margin: 0px 0px 0px 0px;
}

form.basica div fieldset input.inputText, form.basica div fieldset input.inputPassword, form.basica div fieldset input.inputFile, form.basica div fieldset textarea.inputTextarea {
  width: 160px;
  margin: 0px 0px 0px 18px;
  margin: expression('0px 0px 0px -124px');
}

form.basica div label.compact {
  display: inline;
  width: auto;
  padding: 4px 10px 0px 0px;
  text-indent: 0px;
  margin: 0px 0px 0px 0px;
}

form.basica div.wide label {
  float: none;
  display: block;
}

form.basica div label.wide {
  width: 348px;
}

form.basica div.wide input.inputText, form.basica div.wide input.inputPassword, form.basica div.wide input.inputFile, form.basica div.wide select, form.basica div.wide textarea {
  width: 344px;
  margin: 0px;
}

form.basica div.notes p, form.basica div small {
  line-height: 125%;
}

form.basica div.wide small {
  margin: 0px 0px 5px 0px;
}

form.examen
{
	
}

form.examen fieldset.preguntas
{
	border: 0px;	
}

form.examen fieldset.preguntas div.pregunta
{
	margin: 10px;
	border: 0px;	
}
form.examen fieldset.preguntas div.pregunta label
{
	
	
}
form.examen fieldset.preguntas div.pregunta p.numero
{
	font-size: 0.8em;

	margin: 0px;
	float: left;
	padding: 0px;	
	display: inline;
	width: 50px;
	
}
form.examen fieldset.preguntas div.pregunta .sino
{
	width: 80px;
	float: none;
	margin-left: 0px;
	
}

form.examen fieldset.botones
{
	width: 400px; text-align: center;
	margin: 0px auto;	
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 5px;
}

form.examen fieldset.botones input
{
 text-align: center;
	float: none;
}

form.examen fieldset.preguntas div.pregunta div.respuestas{
	margin: 10px;
	margin-left: 20px;	
}
form.examen fieldset.preguntas div.pregunta .respuestas p.opcion{
	display: block;	
}




